{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}"><img class="img-fluid"
          src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-align-right h3 text-white"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Home }}</a>
          </li>
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        <!-- Language List -->
        <!-- {{ if .IsTranslated }} -->
        <!-- <select class="m-2 border-0" id="select-language" onchange="location = this.value;"> -->
          <!-- {{ $siteLanguages := .Site.Languages}} -->
          <!-- {{ $pageLang := .Page.Lang}} -->
          <!-- {{ range .Page.AllTranslations }} -->
          <!-- {{ $translation := .}} -->
          <!-- {{ range $siteLanguages }} -->
          <!-- {{ if eq $translation.Lang .Lang }} -->
          <!-- {{ $selected := false }} -->
          <!-- {{ if eq $pageLang .Lang}} -->
          <!-- <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }} -->
          <!-- </option> -->
          <!-- {{ else }} -->
          <!-- <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option> -->
          <!-- {{ end }} -->
          <!-- {{ end }} -->
          <!-- {{ end }} -->
          <!-- {{ end }} -->
        <!-- </select> -->
        <!-- {{ end }} -->

        {{ if .Site.Params.search }}
        {{ "<!-- search -->" | safeHTML }}
        <div class="search px-4">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
          <div class="search-wrapper">
            <form action="{{ `search`| relLangURL }}" class="h-100">
              <input class="search-box px-4" id="search-query" name="s" type="search" placeholder="Type & Hit Enter...">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {{ end }}

        {{ if .Site.Params.navigation_button.enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .Site.Params.navigation_button.link | absURL }}"
          class="btn btn-primary ml-lg-4">{{ .Site.Params.navigation_button.label }}</a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}